* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  font-family: "Pangolin", cursive;
  background-color: #f4eeff;
  color: #2a3439;
}
h1 {
  margin-top: 3rem;
  margin-bottom: 2rem;
}
h2 {
  margin-bottom: 1rem;
}
h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
h4 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
ul {
  margin-bottom: 2rem;
  padding-left: 2rem;
}
code {
  background-color: #be79df;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: #fff;
}
table {
  border-collapse: collapse;
  margin-bottom: 2rem;
  text-align: left;
}
table,
th,
td {
  border: 1px solid black;
}
th,
td {
  padding: 1.5rem;
}
.container {
  max-width: 114rem;
  margin: 0 auto;
}
.description {
  margin-bottom: 2rem;
}
.divider {
  margin-bottom: 3rem;
}
